<!DOCTYPE html>

<html>
    <head>
        <title>Homepage</title>
    </head>
    <body>
        <h1>Home</h1>
        <ol>
            <li><a href="/views/date.erb">Date</a></li>
            <li><a href="/views/hello.erb">Hello</a></li>
            <li><a href="/views/goodbye.erb">Goodbye</a></li>
        </ol>
    </body>
</html>